apiVersion: v1
kind: Service
metadata:
  name: {{ include "voice-assistant.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "voice-assistant.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  {{- if .Values.service.sessionAffinity }}
  sessionAffinity: {{ .Values.service.sessionAffinity }}
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 10800
  {{- end }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "voice-assistant.selectorLabels" . | nindent 4 }}
